body {
    background-color: #ADB9E3;
    font-family: Century Schoolbook, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #A379C9;
    color: #fff;
    padding: 10px 20px;
    position: fixed; /* Hace que el header se mantenga fijo */
    top: 0; /* Lo fija en la parte superior */
    width: 100%; 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.perfilPhoto {
    margin-top: 70px;
    width: 20%;
    border-radius: 50%;
    border: 5px solid #FFD2FC;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.section-content {
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.8;
    color: #333;
}

#inicio p {
    text-align: center;
}

#acerca, #proyectos, #contacto {
    background-color: #9F86C0;
    padding: 40px 20px;
    color: #fff;
    text-align: center;
}

#acerca h1, #proyectos h1, #contacto h1 {
    color: #FFD2FC;
}

.project-item {
    background-color: #E980FC;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.project-item h2 {
    color: #B96AC9;
}

.project-item p {
    color: #fff;
}

#contacto p {
    font-size: 20px;
}

#contacto a {
    color: #FFD2FC;
    font-weight: bold;
    text-decoration: none;
}